
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">TramiApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" [hidden]="!hasLogin">
            <li class="nav-item">
              <a class="nav-link " [routerLinkActive]="'active'" [routerLink]="['/home']" aria-current="page" >Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/persona']">Personas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/empleado']">Empleados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/tramite']">Trámites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/lista-usuarios']">Lista Usuarios</a>
            </li>            

            <li class="nav-item">
              <a class="nav-link" href="#"  (click)="logout()">Salir</a>
            </li>   

          </ul>

        </div>
      </div>
    </nav>

    <div class="container my-5">
        <router-outlet></router-outlet>
    </div>

  
