<h2>Listado de personas</h2>
<button (click)="modalNuevo()" class='btn btn-info text-white' data-bs-toggle="modal" data-bs-target="#myModal">Crear persona</button>
<div class="panel panel-default">  
    <div class="panel-heading">  
        <div class="panel-body">  
            <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger"  >  
                <thead class="thead-light">  
                    <tr>  
                        <th>Id</th>  
                        <th>Nombre</th>  
                        <th>Apellidos</th>  
                        <th>Tipo Documento</th>  
                        <th>Documento</th> 
                        <th>Email</th>   
                        <th>Dirección</th>
                        <th>Teléfono</th>
                    </tr>  
                </thead>  
                <tbody>  
                     <tr *ngFor="let d of datos ">  
                        <td>{{d.id}}</td>  
                        <td>{{d.nombres}}</td>  
                        <td>{{d.apellidos}}</td>  
                        <td>{{d.tipoDocumento}}</td>  
                        <td>{{d.documento}}</td> 
                        <td>{{d.email}}</td>  
                        <td>{{d.direccion}}</td>  
                        <td>{{d.telefono}}</td>  
                        <td>
                          <button (click)="eliminar(d.id)" class='btn btn-danger'><i class="fa fa-futboll-0">Eliminar</i></button>   &nbsp;
                          <button (click)="modalActualizacion(d.id)" class='btn btn-primary' data-bs-toggle="modal" data-bs-target="#myModal">
                            Actualizar
                          </button>  
                        </td>  
                      </tr>   
                </tbody><br>  
            </table>  
        </div>  
    </div> 
</div>



<!--Creaciòn y Actualización-->

<div class="modal" id="myModal">  
    <div class="modal-dialog">  
        <div class="modal-content">  
            <form  #f="ngForm" (ngSubmit)="registrar(f)">  
                <!-- Modal Header -->  
                <div class="modal-header">  
                    <h4 class="modal-title" style="text-align: center">{{titulo}}</h4>                      
                </div>  
                    
                <!-- Modal body -->  
                <div class="modal-body" >  
                    <div [hidden]="status=='confirmado'">  

                            <input type="hidden" class="form-control" name="id" [(ngModel)]="registerUpdating.id">  
                            <div class="form-group">  
                                <label for="name">Nombres</label>  
                                <input type="text" class="form-control" name="nombres" [(ngModel)]="registerUpdating.nombres"  >  
                            </div>  
                        
                            <div class="form-group">  
                                <label for="name">Apellidos</label>  
                                <input type="text" class="form-control" name="apellidos" [(ngModel)]="registerUpdating.apellidos">  
                            </div>  
                        
                            <div class="form-group">  
                                <label for="name">Tipo Documento</label>  
                                <select class="form-select" name="tipoDocumento" [(ngModel)]="registerUpdating.tipoDocumento">
                                    <option value="CC">CC</option>
                                    <option value="CE">CE</option>
                                    <option value="PP">PP</option>
                                </select> 
                            </div>
                            <div class="form-group">  
                                <label for="name">Documento</label>  
                                <input type="text" class="form-control" name="documento" [(ngModel)]="registerUpdating.documento">  
                            </div>   
                            <div class="form-group">  
                                <label for="name">Teléfono</label>  
                                <input type="text" class="form-control" name="telefono" [(ngModel)]="registerUpdating.telefono">  
                            </div> 
                            <div class="form-group">  
                                <label for="name">Dirección</label>  
                                <input type="text" class="form-control" name="direccion" [(ngModel)]="registerUpdating.direccion">  
                            </div>    
                            <div class="form-group">  
                                <label for="name">Email</label>  
                                <input type="email" class="form-control" name="email" [(ngModel)]="registerUpdating.email">  
                            </div>  
                            <div class="form-group">  
                                <label for="name">Contraseña</label>  
                                <input type="password" class="form-control" name="password" [(ngModel)]="registerUpdating.password">  
                            </div>                                                                                                                               
                        </div>    
                        <div [hidden]="status=='editing' || status=='creating'">  
                            <h4>Registro realizado correctamente!</h4>  
                        </div>          
                            
                </div>  
                    
                <!-- Modal footer -->  
                <div class="modal-footer" >  
                    <button type="submit" class="btn btn-primary" [hidden]="status=='confirmado'">{{status=="creating"?"Crear":"Actualizar"}}</button>  
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close" (click)="changeisUpdate()">Cerrar</button>  
                </div>              
            </form>  
        </div>  
    </div>  
</div>
