<h2>Listado de usuarios</h2>

<div class="panel panel-default">  
    <div class="panel-heading">  
        <div class="panel-body">  
            <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger"  >  
                <thead class="thead-light">  
                    <tr>  
                        <th>Id</th>  
                        <th>Name</th>  
                        <th>Email</th>  
                        <th>Gender</th>  
                        <th>Status</th> 
                          
                    </tr>  
                </thead>  
                <tbody>  
                     <tr *ngFor="let usuario of usuarios ">  
                        <td>{{usuario.id}}</td>  
                        <td>{{usuario.author_name}}</td>  
                        <td>{{usuario.email}}</td> 
                        <td>{{usuario.gender}}</td>  
                        <td>{{usuario.status}}</td>  
 
                      </tr>   
                </tbody><br>  
            </table>  
        </div>  
    </div> 
</div>
