<h2>Listado de trámites</h2>
<button (click)="modalNuevo()" class='btn btn-info text-white' data-bs-toggle="modal" data-bs-target="#myModal">Crear trámite</button>
<div class="panel panel-default">  
    <div class="panel-heading">  
        <div class="panel-body">  
            <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger"  >  
                <thead class="thead-light">  
                    <tr>  
                        <th>Id</th>  
                        <th>Trámite</th>  
                        <th>Descripción del trámite</th>  
                        <th>Año</th>   
                        <th>Solicitante</th>
                        <th>Empleado</th>
                    </tr>  
                </thead>  
                <tbody>  
                     <tr *ngFor="let d of datos ">  
                        <td>{{d.id}}</td>  
                        <td>{{d.nombre}}</td> 
                        <td>{{d.descripcion}}</td> 
                        <td>{{d.anio}}</td> 
                        <td>{{d.persona.nombres+' '+d.persona.apellidos}}</td>  
                        <td>{{d.empleado.persona.nombres+' '+d.empleado.persona.apellidos}}</td>  
                        <td>
                          <button (click)="eliminar(d.id)" class='btn btn-danger'><i class="fa fa-futboll-0">Eliminar</i></button>   &nbsp;
                          <button (click)="modalActualizacion(d.id)" class='btn btn-primary' data-bs-toggle="modal" data-bs-target="#myModal">
                            Actualizar
                          </button>  
                        </td>  
                      </tr>   
                </tbody><br>  
            </table>  
        </div>  
    </div> 
</div>




<!--Creaciòn y Actualización-->

<div class="modal" id="myModal">  
    <div class="modal-dialog">  
        <div class="modal-content">  
            <form  #f="ngForm" (ngSubmit)="registrar(f)">  
                <!-- Modal Header -->  
                <div class="modal-header">  
                    <h4 class="modal-title" style="text-align: center">{{titulo}}</h4>                      
                </div>  
                    
                <!-- Modal body -->  
                <div class="modal-body" >  
                    <div [hidden]="status=='confirmado'">  

                            <input type="hidden" class="form-control" name="id" [(ngModel)]="registerUpdating.id" />  

                            <div class="form-group mb-2" [hidden]="status=='creating'">  
                                <p><b>{{registerUpdating.persona?.nombres+' '+registerUpdating.persona?.apellidos}}</b></p>  
                            </div>  

                            <div class="form-group">  
                                <label for="nombre">Trámite</label>  
                                <input type="text" class="form-control" name="nombre" [(ngModel)]="registerUpdating.nombre"  />  
                            </div>                              
                            <div class="form-group">  
                                <label for="descripcion">Descripción</label>  
                                <textarea  class="form-control" name="descripcion" [(ngModel)]="registerUpdating.descripcion"></textarea>  
                            </div>  
                        
                            <div class="form-group">  
                                <label for="anio">Año</label>  
                                <input type="number" min="1900" max="2099" class="form-control" name="anio" [(ngModel)]="registerUpdating.anio" />  
                            </div>  
                        
                            <div class="form-group" >  
                                <label for="personaId">Persona</label>  
                                <select class="form-select" name="personaId" [(ngModel)]="registerUpdating.personaId">
                                    <option *ngFor="let p of personas" [value]="p.id">{{p.nombres+' '+p.apellidos}}</option>
                                </select> 
                            </div>

                            <div class="form-group" >  
                                <label for="empleadoId">Empleado</label>  
                                <select class="form-select" name="empleadoId" [(ngModel)]="registerUpdating.empleadoId">
                                    <option *ngFor="let p of empleados" [value]="p.id">{{p.persona.nombres+' '+p.persona.apellidos}}</option>
                                </select> 
                            </div>
                                                                                                                            
                        </div>    
                        <div [hidden]="status=='editing' || status=='creating'">  
                            <h4>Registro realizado correctamente!</h4>  
                        </div>          
                            
                </div>  
                    
                <!-- Modal footer -->  
                <div class="modal-footer" >  
                    <button type="submit" class="btn btn-primary" [hidden]="status=='confirmado'">{{status=="creating"?"Crear":"Actualizar"}}</button>  
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close" (click)="changeisUpdate()">Cerrar</button>  
                </div>              
            </form>  
        </div>  
    </div>  
</div>
