<form class="mx-auto" style="max-width: 25rem;" #f="ngForm" (ngSubmit)="login(f)">
    <h1 class="mb-5 text-center">Inicio de sesión</h1>

    <div class="mb-3">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" class="form-control" [(ngModel)]="creds.email"/>
    </div>
    <div class="mb-3">
        <label for="password">Contraseña</label>
        <input id="password" name="password" type="password" class="form-control" [(ngModel)]="creds.password"/>
    </div>

    <div class="alert alert-danger" role="alert" [hidden]="mensaje==''">
        {{mensaje}}
    </div>
    
    <div class="d-grid">
        <button class="btn btn-lg btn-primary">
            Ingresar
        </button>

    </div>
    

</form>
